* {
  background: black;
  text-align: center;
  color: white;
}


#link {
  text-align: center;
  display: none;
  color: white;
}

#link2 {
  text-align: center;
  text-justify: center;
  display: none;
  color: white;
}
p {
  font-size:5px;





}
